body {
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
}
.container {
    text-align: center;
}

.show {
    margin: 5px;
    
}

#tv-form {

    margin: 10px;
    display: inline;
}

.input-append {

    margin: 10px;
}

#add-show {

    margin: 5px;
}

#tv-input {
    padding: 5px;
}
